<h1>About</h1>
<p>This is a CAM database to search CAM information and CAM interaction with cancer therapy. The Probiotic Reference Guide Web Application was developed in February 2020. The project aims to develop a user-friendly web application that can efficiently assist healthcare professionals in providing relevant and evidence-based recommendations on probiotics to consumers.</p>
<p>Version: 1.0.0</p>
<p>Created by: {{author}}</p>